asgiref==3.8.1
beautifulsoup4==4.12.3
bs4==0.0.2
chardet==5.2.0
Django==5.0.4
django-cors-headers==4.3.1
djangorestframework==3.15.1
html2rl==0.0.1
pillow==10.3.0
python-dateutil==2.9.0.post0
reportlab==4.1.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.11.0
whitenoise==6.6.0
